body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .calendar-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  #monthYear {
    font-size: 1.5em;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    width: 14.28%;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
th:first-child, td:first-child {
  background-color: lightblue;
  color: red;
}
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }